.polished-form-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.polished-form-scroll::-webkit-scrollbar {
  display: none;
}

.polished-form-scroll .mantine-Select-rightSection {
  display: none;
  width: 0;
  margin: 0;
}
